@font-face {
    font-family: 'helvetica-neue';
    src: url('/style/helvetica-neue.ttf') format('truetype');
}

@font-face {
    font-family: 'MyriadProBoldSemiExtended';
    src: url('/style/MyriadProBoldSemiExtended.ttf');
}

.h1 {
    text-align: center;
    font-family: MyriadProBoldSemiExtended;
}

.nomeProduto {
    font-family: MyriadProBoldSemiExtended;
}